<div class="input-group">

  <input #nameFilterInput type="text" class="form-control" (keyup)="0" placeholder="Filter by name">

  <span class="input-group-btn">
    <button type="button" class="btn btn-default" title="ახალი როლი" (click)="actionModal.show()">
      <i class="fa fa-plus" aria-hidden="true"></i>
    </button>
  </span>
</div>
<accordion>
  <accordion-group *ngFor="let action of actionService.actions | nameFilter:nameFilterInput.value" #group>
    <div accordion-heading>
      <button class="btn btn-danger btn-circle" (click)="onRemoveAction($event,action)"><i class="fa fa-trash fa-fw"></i></button> {{action.name}}
      <i class="float-xs fa" [ngClass]="{'fa-chevron-down': group?.isOpen, 'fa-chevron-right': !group?.isOpen}"></i>
    </div>
    <app-action-details [currentAction]=action></app-action-details>
  </accordion-group>
</accordion>



<div class="modal fade" bsModal #actionModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="actionModal" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">New Role Action</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="actionModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-action-details [currentAction]=newAction (saved)="onSaved(action)"></app-action-details>
      </div>
    </div>
  </div>
</div>
