<div>
  <div class="list-group">
    <a class="list-group-item" *ngFor="let project of projectService.projects" [class.active]="isSelected(project)" (click)="onSelect(project)">
      <h4 class="list-group-item-heading">{{project.name}}</h4>
      <p class="list-group-item-text">{{project.description}}</p>
    </a>
  </div>

  <div class="modal-footer project-list-actions">
    <button type="button" class="btn btn-primary" title="ახალი პროექტის დამატება" data-toggle="modal" data-target="#new-project-modal">
      <i class="fa fa-plus" aria-hidden="true"></i>
    </button>
  </div>
</div>

<app-modal modalId="new-project-modal">
  <app-project-details [currentProjectItem]="newProject"></app-project-details>
</app-modal>
