<div>
  <div class="list-group">
    <a class="list-group-item" *ngFor="let project of projectService.projects" [class.active]="isSelected(project)" (click)="onSelect(project)">

      <h4 class="list-group-item-heading">
        <button class="btn btn-danger circle-list-button" (click)="onRemoveProject($event,project)"><i class="fa fa-trash fa-fw circle-button-icon"></i></button>
        {{project.name}}
      </h4>
      <p class="list-group-item-text">{{project.description}}</p>
    </a>
  </div>

  <div class="modal-footer project-list-actions">
    <button type="button" class="btn btn-primary circle-list-button" title="ახალი პროექტის დამატება" data-toggle="modal" data-target="#new-project-modal">
      <i class="fa fa-plus circle-button-icon" aria-hidden="true"></i>
    </button>
  </div>
</div>

<app-modal modalId="new-project-modal">
  <app-project-details [currentProjectItem]="newProject" (saved)="onSaved($event)"></app-project-details>
</app-modal>
