<div class="container-fluid">
  <div class="row">
    <div class="col-xs-5">
      <app-role-list></app-role-list>
    </div>
    <div class="col-xs-7" *ngIf="roleService.selectedRole">
      <app-role-details [currentRole]="roleService.selectedRole"></app-role-details>


      <tabset>
        <tab heading="Actions">
          <accordion>
            <accordion-group heading="Static Header, initially expanded">
              This content is straight in the template.
            </accordion-group>
            <accordion-group #group>
              <div accordion-heading>
                I can have markup, too!
                <i class="pull-right float-xs-right glyphicon" [ngClass]="{'glyphicon-chevron-down': group?.isOpen, 'glyphicon-chevron-right': !group?.isOpen}"></i>
              </div>
              This is just some content to illustrate fancy headings.
            </accordion-group>
            <accordion-group heading="Content 1">
              <p>Content 1</p>
            </accordion-group>
            <accordion-group heading="Content 2">
              <p>Content 2</p>
            </accordion-group>
          </accordion>
        </tab>
        <tab heading="Users">
          <ul>
            <li>HeyUsers</li>
            <li>HeyUsers</li>
            <li>HeyUsers</li>
            <li>HeyUsers</li>
            <li>HeyUsers</li>
            <li>HeyUsers</li>
            <li>HeyUsers</li>
            <li>HeyUsers</li>
            <li>HeyUsers</li>
            <li>HeyUsers</li>
          </ul>
        </tab>
      </tabset>



    </div>
  </div>
</div>
