<div class="container-fluid">

    <div class="form-group">
      <label>Project Name :</label>
      <input type="text" class="form-control" placeholder="Project Name" [(ngModel)]="currentProjectItem.name">
      <label>Description :</label>
      <input type="text" class="form-control" placeholder="Description" [(ngModel)]="currentProjectItem.description">
      <label>Umpack Client Url :</label>
      <input type="text" class="form-control" placeholder="Umpack Client Url" [(ngModel)]="currentProjectItem.url">
      <label>Umpack User Name</label>
      <input type="text" class="form-control" placeholder="Umpack User Name" [(ngModel)]="currentProjectItem.username">
      <label>Umpack Password</label>
      <input type="text" class="form-control" placeholder="Umpack Password" [(ngModel)]="currentProjectItem.password">
      <label>Umpack Router Url</label>
      <input type="text" class="form-control" [(ngModel)]="currentProjectItem.umBaseUrl" value="/um">
      <label>device control</label>
      <input type="checkbox" [(ngModel)]="currentProjectItem.deviceControl" value="false">
    </div>

    <div class="modal-footer">
      <button class="btn btn-warning btn-circle btn-lg" *ngIf="mustRelogin" (click)="relogin()" title="relogin Project"><i class="fa fa-refresh"></i></button>
      <button type="button" class="btn btn-success btn-lg" (click)="onClone()">
        Clone
      </button>
      <button type="button" class="btn btn-success btn-circle btn-lg" data-dismiss="modal" (click)="onInitialize()" title="Initialize Project">
        <i class="fa fa-plug" aria-hidden="true"></i>
      </button>
      <button type="button" class="btn btn-success btn-circle btn-lg" data-dismiss="modal" (click)="onSave()" title="Save Project">
        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
      </button>
    </div>

</div>
