<div class="container-fluid">

    <div class="form-group">
      <label>Project Name :</label>
      <input type="text" class="form-control" placeholder="Project Name" [(ngModel)]="currentProjectItem.name">
      <label>Description :</label>
      <input type="text" class="form-control" placeholder="Description" [(ngModel)]="currentProjectItem.description">
      <label>Umpack Client Url :</label>
      <input type="text" class="form-control" placeholder="Umpack Client Url" [(ngModel)]="currentProjectItem.sourceDataBaseUrl">
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-success btn-circle btn-lg" data-dismiss="modal" (click)="onSave()" title="Save Project">
        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
      </button>
    </div>

</div>
